## Scrapping a table from a website:

In [1]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

## Data import for activity

In [2]:
# Creating a function to import data
def data_import_clean(url, p=13, q=500, r=0, s=100):
    # Importing data
    headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:55.0) Gecko/20100101 Firefox/55.0',}
    response_activity = requests.get(url, headers=headers)
    soup_activity = BeautifulSoup(response_activity.text, "lxml")
    # finding column headers from imported data
    header_activity = []
    for i in soup_activity.find_all('b'):
        title = i.text
        header_activity.append(title)
        headers_activity = [x.replace('\n', '') for x in header_activity]
        headers_activity = [x.replace(' ', '') for x in  headers_activity]
        headers_activity = headers_activity[r:s]
        headers_activity
    data = pd.DataFrame(columns = headers_activity) # placing the column headers in a dataframe
    #populating the dataframe for each column
    for j in soup_activity.find_all('tr')[p:q]:
        row_data = j.find_all('td')
        row = [i.text for i in row_data]
        length = len(data)
        data.loc[length] = row
    # data cleaning
    data= data.apply(lambda s: s.str.strip())
    data= data.apply(lambda s: s.str.replace('\n',''))
    # Confirming all numeric columns are numeric
    data['130lb'] = pd.to_numeric(data['130lb'],errors='coerce')
    data['155lb'] = pd.to_numeric(data['155lb'],errors='coerce')
    data['180lb'] = pd.to_numeric(data['180lb'],errors='coerce')
    data['205lb'] = pd.to_numeric(data['205lb'],errors='coerce')
    # creating a new column named 'Average_Calorie' with the average value of all numeric columns for each row
    data['activity_calorie'] = data[['130lb','155lb','180lb','205lb']].mean(axis=1)
    # Showing the created dataframe
    return data

### Importing 'Cylcling' data

In [3]:
cycling_data= data_import_clean(url="https://www.nutristrategy.com/caloriesburnedcycling.htm",p=13)

In [4]:
# Renaming first column
cycling_data.rename(columns = {'Activity(1hour)':'activity'}, inplace=True)
# Creating new columns populating with single value
cycling_data['activity_type'] = 'Cycling'
cycling_data['activity_type_id'] = '0'
cycling_data

,activity,130lb,155lb,180lb,205lb,activity_calorie,activity_type,activity_type_id
0,"Cycling, mountain bike, bmx",502,598,695,791,646.50,Cycling,0
1,"Cycling, <10 mph, leisure bicycling",236,281,327,372,304.00,Cycling,0
2,"Cycling, >20 mph, racing",944,1126,1308,1489,1216.75,Cycling,0
3,"Cycling, 10-11.9 mph, light",354,422,490,558,456.00,Cycling,0
4,"Cycling, 12-13.9 mph, moderate",472,563,654,745,608.50,Cycling,0
5,"Cycling, 14-15.9 mph, vigorous",590,704,817,931,760.50,Cycling,0
6,"Cycling, 16-19 mph, very fast, racing",708,844,981,1117,912.50,Cycling,0
7,Unicycling,295,352,409,465,380.25,Cycling,0
8,"Stationary cycling, very light",177,211,245,279,228.00,Cycling,0
9,"Stationary cycling, light",325,387,449,512,418.25,Cycling,0
10,"Stationary cycling, moderate",413,493,572,651,532.25,Cycling,0
11,"Stationary cycling, vigorous",620,739,858,977,798.50,Cycling,0
12,"Stationary cycling, very vigorous",738,880,1022,1163,950.75,Cycling,0

### Importing 'Swimming' data

In [5]:
swimming_data = data_import_clean(url="https://www.nutristrategy.com/caloriesburnedswimming.htm", p=13)

In [6]:
# Renaming first column
swimming_data.rename(columns = {'Activity,ExerciseorSport(1hour)':'activity'}, inplace=True)
# Creating new columns populating with single value
swimming_data['activity_type'] = 'Swimming'
swimming_data['activity_type_id'] = '1'
swimming_data

,activity,130lb,155lb,180lb,205lb,activity_calorie,activity_type,activity_type_id
0,"Swimming laps, freestyle, fast",590,704,817,931,760.50,Swimming,1
1,"Swimming laps, freestyle, slow",413,493,572,651,532.25,Swimming,1
2,Swimming backstroke,413,493,572,651,532.25,Swimming,1
3,Swimming breaststroke,590,704,817,931,760.50,Swimming,1
4,Swimming butterfly,649,774,899,1024,836.50,Swimming,1
5,"Swimming leisurely, not laps",354,422,490,558,456.00,Swimming,1
6,Swimming sidestroke,472,563,654,745,608.50,Swimming,1
7,Swimming synchronized,472,563,654,745,608.50,Swimming,1
8,"Swimming, treading water, fast...",590,704,817,931,760.50,Swimming,1
9,"Swimming, treading water, mode...",236,281,327,372,304.00,Swimming,1
10,"Water aerobics, water calisthe...",236,281,327,372,304.00,Swimming,1
11,Water polo,590,704,817,931,760.50,Swimming,1
12,Water volleyball,177,211,245,279,228.00,Swimming,1
13,Water jogging,472,563,654,745,608.50,Swimming,1
14,"Diving, springboard or platform",177,211,245,279,228.00,Swimming,1

### Importing 'dancing_excercise' data

In [7]:
dancing_excercise= data_import_clean(url="https://www.nutristrategy.com/caloriesburnedaerobics.htm",p =13)

In [8]:
dancing_excercise.columns

Index(['Activity(1hour)', '130lb', '155lb', '180lb', '205lb',
       'activity_calorie'],
      dtype='object')

In [9]:
# Renaming first column
dancing_excercise.rename(columns = {'Activity(1hour)':'activity'}, inplace=True)
# Creating new columns populating with single value
dancing_excercise['activity_type'] = 'Exercise or Dancing'
dancing_excercise['activity_type_id'] = '2'
dancing_excercise

,activity,130lb,155lb,180lb,205lb,activity_calorie,activity_type,activity_type_id
0,"Aerobics, low impact",295,352,409,465,380.25,Exercise or Dancing,2
1,"Aerobics, high impact",413,493,572,651,532.25,Exercise or Dancing,2
2,"Aerobics, step aerobics",502,598,695,791,646.50,Exercise or Dancing,2
3,"Aerobics, general",384,457,531,605,494.25,Exercise or Dancing,2
4,Jazzercise,354,422,490,558,456.00,Exercise or Dancing,2
5,"Stretching, hatha yoga",236,281,327,372,304.00,Exercise or Dancing,2
6,Mild stretching,148,176,204,233,190.25,Exercise or Dancing,2
7,Instructing aerobic class,354,422,490,558,456.00,Exercise or Dancing,2
8,Water aerobics,236,281,327,372,304.00,Exercise or Dancing,2
9,"Ballet, twist, jazz, tap",266,317,368,419,342.50,Exercise or Dancing,2
10,"Ballroom dancing, slow",177,211,245,279,228.00,Exercise or Dancing,2
11,"Ballroom dancing, fast",325,387,449,512,418.25,Exercise or Dancing,2
12,Teach aerobic classes (& partici...,384,457,531,605,494.25,Exercise or Dancing,2

### Importing 'Walking' data

In [10]:
walking_data= data_import_clean(url="https://www.nutristrategy.com/caloriesburnedwalking.htm",p=13, q=22, r=1, s=6)

In [11]:
# Renaming first column
walking_data.rename(columns = {'Activity(1hour)':'activity'}, inplace=True)
# Creating new columns populating with single value
walking_data['activity_type'] = 'Walking'
walking_data['activity_type_id'] = '3'
walking_data

,activity,130lb,155lb,180lb,205lb,activity_calorie,activity_type,activity_type_id
0,"Walking, under 2.0 mph, very slow",118,141,163,186,152.00,Walking,3
1,"Walking 2.0 mph, slow",148,176,204,233,190.25,Walking,3
2,Walking 2.5 mph,177,211,245,279,228.00,Walking,3
3,"Walking 3.0 mph, moderate",195,232,270,307,251.00,Walking,3
4,"Walking 3.5 mph, brisk pace",224,267,311,354,289.00,Walking,3
5,"Walking 3.5 mph, uphill",354,422,490,558,456.00,Walking,3
6,"Walking 4.0 mph, very brisk",295,352,409,465,380.25,Walking,3
7,Walking 4.5 mph,372,443,515,586,479.00,Walking,3
8,Walking 5.0 mph,472,563,654,745,608.50,Walking,3

### Importing 'Hiking & Climbing' data

In [12]:
hiking_data= data_import_clean(url="https://www.nutristrategy.com/caloriesburnedwalking.htm",p=23,q=100, r=7, s=13)
hiking_data.columns

Index(['Hiking,Climbing,Walking(1hour)', '130lb', '155lb', '180lb', '205lb',
       'activity_calorie'],
      dtype='object')

In [13]:
# Renaming first column
hiking_data.rename(columns = {'Hiking,Climbing,Walking(1hour)':'activity'}, inplace=True)
# Creating new columns populating with single value
hiking_data['activity_type'] = 'Hiking, climbing, others'
hiking_data['activity_type_id'] = '4'
hiking_data

,activity,130lb,155lb,180lb,205lb,activity_calorie,activity_type,activity_type_id
0,Orienteering,531,633,735,838,684.25,"Hiking, climbing, others",4
1,"Rock climbing, ascending rock",649,774,899,1024,836.50,"Hiking, climbing, others",4
2,"Rock climbing, rappelling",472,563,654,745,608.50,"Hiking, climbing, others",4
3,"Backpacking, Hiking with pack",413,493,572,651,532.25,"Hiking, climbing, others",4
4,"Carrying infant, level ground",207,246,286,326,266.25,"Hiking, climbing, others",4
5,"Carrying infant, upstairs",295,352,409,465,380.25,"Hiking, climbing, others",4
6,"Carrying 16 to 24 lbs, upstairs",354,422,490,558,456.00,"Hiking, climbing, others",4
7,"Carrying 25 to 49 lbs, upstairs",472,563,654,745,608.50,"Hiking, climbing, others",4
8,"Standing, playing with children,...",165,197,229,261,213.00,"Hiking, climbing, others",4
9,"Walk/run, playing with children,...",236,281,327,372,304.00,"Hiking, climbing, others",4
10,"Walk/run, playing with children,...",295,352,409,465,380.25,"Hiking, climbing, others",4
11,Carrying small children,177,211,245,279,228.00,"Hiking, climbing, others",4
12,"Loading, unloading car",177,211,245,279,228.00,"Hiking, climbing, others",4
13,"Climbing hills, carrying up to 9...",413,493,572,651,532.25,"Hiking, climbing, others",4
14,"Climbing hills, carrying 10 to 2...",443,528,613,698,570.50,"Hiking, climbing, others",4
15,"Climbing hills, carrying 21 to 4...",472,563,654,745,608.50,"Hiking, climbing, others",4
16,"Climbing hills, carrying over 42 lb",531,633,735,838,684.25,"Hiking, climbing, others",4
17,Walking downstairs,177,211,245,279,228.00,"Hiking, climbing, others",4
18,"Hiking, cross country",354,422,490,558,456.00,"Hiking, climbing, others",4
19,Bird watching,148,176,204,233,190.25,"Hiking, climbing, others",4
20,"Marching, rapidly, military",384,457,531,605,494.25,"Hiking, climbing, others",4
21,Pushing stroller or walking with...,148,176,204,233,190.25,"Hiking, climbing, others",4
22,Pushing a wheelchair,236,281,327,372,304.00,"Hiking, climbing, others",4
23,Race walking,384,457,531,605,494.25,"Hiking, climbing, others",4
24,"Rock climbing, mountain climbing",472,563,654,745,608.50,"Hiking, climbing, others",4
25,Walking using crutches,295,352,409,465,380.25,"Hiking, climbing, others",4
26,Walking the dog,177,211,245,279,228.00,"Hiking, climbing, others",4
27,"Walk / run, playing with animals",236,281,327,372,304.00,"Hiking, climbing, others",4
28,"Walking, pushing a wheelchair",236,281,327,372,304.00,"Hiking, climbing, others",4

## Concatenating all dataframes to a single one named 'activity_data'

In [14]:
activity_data = pd.concat([walking_data,swimming_data, cycling_data, dancing_excercise, hiking_data],ignore_index=True)

In [15]:
# creating a new column named 'activity_id' with table index value
activity_data['activity_id'] = activity_data.index
activity_data

,activity,130lb,155lb,180lb,205lb,activity_calorie,activity_type,activity_type_id,activity_id
0,"Walking, under 2.0 mph, very slow",118,141,163,186,152.00,Walking,3,0
1,"Walking 2.0 mph, slow",148,176,204,233,190.25,Walking,3,1
2,Walking 2.5 mph,177,211,245,279,228.00,Walking,3,2
3,"Walking 3.0 mph, moderate",195,232,270,307,251.00,Walking,3,3
4,"Walking 3.5 mph, brisk pace",224,267,311,354,289.00,Walking,3,4
...,...,...,...,...,...,...,...,...,...
74,"Rock climbing, mountain climbing",472,563,654,745,608.50,"Hiking, climbing, others",4,74
75,Walking using crutches,295,352,409,465,380.25,"Hiking, climbing, others",4,75
76,Walking the dog,177,211,245,279,228.00,"Hiking, climbing, others",4,76
77,"Walk / run, playing with animals",236,281,327,372,304.00,"Hiking, climbing, others",4,77
78,"Walking, pushing a wheelchair",236,281,327,372,304.00,"Hiking, climbing, others",4,78

## Creating activity table

In [16]:
# Selecting only required columns
activity = activity_data[['activity_id','activity', 'activity_calorie','activity_type_id']]

In [17]:
activity

,activity_id,activity,activity_calorie,activity_type_id
0,0,"Walking, under 2.0 mph, very slow",152.00,3
1,1,"Walking 2.0 mph, slow",190.25,3
2,2,Walking 2.5 mph,228.00,3
3,3,"Walking 3.0 mph, moderate",251.00,3
4,4,"Walking 3.5 mph, brisk pace",289.00,3
...,...,...,...,...
74,74,"Rock climbing, mountain climbing",608.50,4
75,75,Walking using crutches,380.25,4
76,76,Walking the dog,228.00,4
77,77,"Walk / run, playing with animals",304.00,4
78,78,"Walking, pushing a wheelchair",304.00,4

## Data cleaning of activity dataframe

In [18]:
activity['activity']= activity['activity'].replace(r'\s+', ' ', regex=True)

C:\Users\snk_n\AppData\Local\Temp/ipykernel_25332/2377529974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity['activity']= activity['activity'].replace(r'\s+', ' ', regex=True)

In [19]:
activity['activity']= activity['activity'].apply(lambda x: x.replace(',',''))
activity['activity']

C:\Users\snk_n\AppData\Local\Temp/ipykernel_25332/794309578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity['activity']= activity['activity'].apply(lambda x: x.replace(',',''))

0     Walking under 2.0 mph very slow
1                Walking 2.0 mph slow
2                     Walking 2.5 mph
3            Walking 3.0 mph moderate
4          Walking 3.5 mph brisk pace
                   ...
74    Rock climbing mountain climbing
75             Walking using crutches
76                    Walking the dog
77    Walk / run playing with animals
78       Walking pushing a wheelchair
Name: activity, Length: 79, dtype: object

In [20]:
activity

,activity_id,activity,activity_calorie,activity_type_id
0,0,Walking under 2.0 mph very slow,152.00,3
1,1,Walking 2.0 mph slow,190.25,3
2,2,Walking 2.5 mph,228.00,3
3,3,Walking 3.0 mph moderate,251.00,3
4,4,Walking 3.5 mph brisk pace,289.00,3
...,...,...,...,...
74,74,Rock climbing mountain climbing,608.50,4
75,75,Walking using crutches,380.25,4
76,76,Walking the dog,228.00,4
77,77,Walk / run playing with animals,304.00,4
78,78,Walking pushing a wheelchair,304.00,4

In [21]:
activity_one_times = activity.assign(activity = activity.activity + ' ; one day weekly')

In [22]:
activity_one_times

,activity_id,activity,activity_calorie,activity_type_id
0,0,Walking under 2.0 mph very slow ; one day weekly,152.00,3
1,1,Walking 2.0 mph slow ; one day weekly,190.25,3
2,2,Walking 2.5 mph ; one day weekly,228.00,3
3,3,Walking 3.0 mph moderate ; one day weekly,251.00,3
4,4,Walking 3.5 mph brisk pace ; one day weekly,289.00,3
...,...,...,...,...
74,74,Rock climbing mountain climbing ; one day weekly,608.50,4
75,75,Walking using crutches ; one day weekly,380.25,4
76,76,Walking the dog ; one day weekly,228.00,4
77,77,Walk / run playing with animals ; one day weekly,304.00,4
78,78,Walking pushing a wheelchair ; one day weekly,304.00,4

In [23]:
activity_two_times = activity.assign(activity = activity.activity + ' ; two days weekly')
activity_two_times['activity_calorie'] = activity['activity_calorie']*2
activity_two_times['activity_id'] = activity['activity_id']+79

In [24]:
activity_two_times

,activity_id,activity,activity_calorie,activity_type_id
0,79,Walking under 2.0 mph very slow ; two days weekly,304.0,3
1,80,Walking 2.0 mph slow ; two days weekly,380.5,3
2,81,Walking 2.5 mph ; two days weekly,456.0,3
3,82,Walking 3.0 mph moderate ; two days weekly,502.0,3
4,83,Walking 3.5 mph brisk pace ; two days weekly,578.0,3
...,...,...,...,...
74,153,Rock climbing mountain climbing ; two days weekly,1217.0,4
75,154,Walking using crutches ; two days weekly,760.5,4
76,155,Walking the dog ; two days weekly,456.0,4
77,156,Walk / run playing with animals ; two days weekly,608.0,4
78,157,Walking pushing a wheelchair ; two days weekly,608.0,4

In [25]:
activity_three_times = activity.assign(activity = activity.activity + ' ; three days weekly')
activity_three_times['activity_calorie'] = activity['activity_calorie']*3
activity_three_times['activity_id'] = activity_two_times['activity_id']+79
activity_three_times

,activity_id,activity,activity_calorie,activity_type_id
0,158,Walking under 2.0 mph very slow ; three days w...,456.00,3
1,159,Walking 2.0 mph slow ; three days weekly,570.75,3
2,160,Walking 2.5 mph ; three days weekly,684.00,3
3,161,Walking 3.0 mph moderate ; three days weekly,753.00,3
4,162,Walking 3.5 mph brisk pace ; three days weekly,867.00,3
...,...,...,...,...
74,232,Rock climbing mountain climbing ; three days w...,1825.50,4
75,233,Walking using crutches ; three days weekly,1140.75,4
76,234,Walking the dog ; three days weekly,684.00,4
77,235,Walk / run playing with animals ; three days w...,912.00,4
78,236,Walking pushing a wheelchair ; three days weekly,912.00,4

In [29]:
activity_four_times = activity.assign(activity = activity.activity + ' ; four days weekly')
activity_four_times['activity_calorie'] = activity['activity_calorie']*4
activity_four_times['activity_id'] = activity_three_times['activity_id']+79
activity_four_times

,activity_id,activity,activity_calorie,activity_type_id
0,237,Walking under 2.0 mph very slow ; four days we...,608.0,3
1,238,Walking 2.0 mph slow ; four days weekly,761.0,3
2,239,Walking 2.5 mph ; four days weekly,912.0,3
3,240,Walking 3.0 mph moderate ; four days weekly,1004.0,3
4,241,Walking 3.5 mph brisk pace ; four days weekly,1156.0,3
...,...,...,...,...
74,311,Rock climbing mountain climbing ; four days we...,2434.0,4
75,312,Walking using crutches ; four days weekly,1521.0,4
76,313,Walking the dog ; four days weekly,912.0,4
77,314,Walk / run playing with animals ; four days we...,1216.0,4
78,315,Walking pushing a wheelchair ; four days weekly,1216.0,4

In [31]:
activity_five_times = activity.assign(activity = activity.activity + ' ; five days weekly')
activity_five_times['activity_calorie'] = activity['activity_calorie']*5
activity_five_times['activity_id'] = activity_four_times['activity_id']+79
activity_five_times

,activity_id,activity,activity_calorie,activity_type_id
0,316,Walking under 2.0 mph very slow ; five days we...,760.00,3
1,317,Walking 2.0 mph slow ; five days weekly,951.25,3
2,318,Walking 2.5 mph ; five days weekly,1140.00,3
3,319,Walking 3.0 mph moderate ; five days weekly,1255.00,3
4,320,Walking 3.5 mph brisk pace ; five days weekly,1445.00,3
...,...,...,...,...
74,390,Rock climbing mountain climbing ; five days we...,3042.50,4
75,391,Walking using crutches ; five days weekly,1901.25,4
76,392,Walking the dog ; five days weekly,1140.00,4
77,393,Walk / run playing with animals ; five days we...,1520.00,4
78,394,Walking pushing a wheelchair ; five days weekly,1520.00,4

In [32]:
activity_six_times = activity.assign(activity = activity.activity + ' ; six days weekly')
activity_six_times['activity_calorie'] = activity['activity_calorie']*6
activity_six_times['activity_id'] = activity_five_times['activity_id']+79
activity_six_times

,activity_id,activity,activity_calorie,activity_type_id
0,395,Walking under 2.0 mph very slow ; six days weekly,912.0,3
1,396,Walking 2.0 mph slow ; six days weekly,1141.5,3
2,397,Walking 2.5 mph ; six days weekly,1368.0,3
3,398,Walking 3.0 mph moderate ; six days weekly,1506.0,3
4,399,Walking 3.5 mph brisk pace ; six days weekly,1734.0,3
...,...,...,...,...
74,469,Rock climbing mountain climbing ; six days weekly,3651.0,4
75,470,Walking using crutches ; six days weekly,2281.5,4
76,471,Walking the dog ; six days weekly,1368.0,4
77,472,Walk / run playing with animals ; six days weekly,1824.0,4
78,473,Walking pushing a wheelchair ; six days weekly,1824.0,4

In [33]:
activity_7_times = activity.assign(activity = activity.activity + ' ; every day in a week')
activity_7_times['activity_calorie'] = activity['activity_calorie']*7
activity_7_times['activity_id'] = activity_six_times['activity_id']+79
activity_7_times

,activity_id,activity,activity_calorie,activity_type_id
0,474,Walking under 2.0 mph very slow ; every day in...,1064.00,3
1,475,Walking 2.0 mph slow ; every day in a week,1331.75,3
2,476,Walking 2.5 mph ; every day in a week,1596.00,3
3,477,Walking 3.0 mph moderate ; every day in a week,1757.00,3
4,478,Walking 3.5 mph brisk pace ; every day in a week,2023.00,3
...,...,...,...,...
74,548,Rock climbing mountain climbing ; every day in...,4259.50,4
75,549,Walking using crutches ; every day in a week,2661.75,4
76,550,Walking the dog ; every day in a week,1596.00,4
77,551,Walk / run playing with animals ; every day in...,2128.00,4
78,552,Walking pushing a wheelchair ; every day in a ...,2128.00,4

In [34]:
activity_weekly = pd.concat([activity_one_times, activity_two_times, activity_three_times, activity_four_times, activity_five_times, activity_six_times, activity_7_times], ignore_index=True)

In [35]:
activity_weekly

,activity_id,activity,activity_calorie,activity_type_id
0,0,Walking under 2.0 mph very slow ; one day weekly,152.00,3
1,1,Walking 2.0 mph slow ; one day weekly,190.25,3
2,2,Walking 2.5 mph ; one day weekly,228.00,3
3,3,Walking 3.0 mph moderate ; one day weekly,251.00,3
4,4,Walking 3.5 mph brisk pace ; one day weekly,289.00,3
...,...,...,...,...
548,548,Rock climbing mountain climbing ; every day in...,4259.50,4
549,549,Walking using crutches ; every day in a week,2661.75,4
550,550,Walking the dog ; every day in a week,1596.00,4
551,551,Walk / run playing with animals ; every day in...,2128.00,4
552,552,Walking pushing a wheelchair ; every day in a ...,2128.00,4

In [36]:
activity_weekly.activity_calorie.max()

8517.25

In [40]:
activity_weekly.to_csv("activity.csv",header=True,index=False)

## Creating activity_type table

In [38]:
activity_type = activity_data[['activity_type_id','activity_type']].drop_duplicates(ignore_index=True)
activity_type

  activity_type_id             activity_type
0                3                   Walking
1                1                  Swimming
2                0                   Cycling
3                2       Exercise or Dancing
4                4  Hiking, climbing, others

In [39]:
#activity_type.to_csv('activity_type.csv', index=False)