## Scrapping a table from a website:

In [1]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

## Data import for activity

In [2]:
# Creating a function to import data
def data_import_clean(url, p=13, q=500, r=0, s=100):
    # Importing data
    headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:55.0) Gecko/20100101 Firefox/55.0',}
    response_activity = requests.get(url, headers=headers)
    soup_activity = BeautifulSoup(response_activity.text, "lxml")
    # finding column headers from imported data
    header_activity = []
    for i in soup_activity.find_all('b'):
        title = i.text
        header_activity.append(title)
        headers_activity = [x.replace('\n', '') for x in header_activity]
        headers_activity = [x.replace(' ', '') for x in  headers_activity]
        headers_activity = headers_activity[r:s]
        headers_activity
    data = pd.DataFrame(columns = headers_activity) # placing the column headers in a dataframe
    #populating the dataframe for each column
    for j in soup_activity.find_all('tr')[p:q]:
        row_data = j.find_all('td')
        row = [i.text for i in row_data]
        length = len(data)
        data.loc[length] = row
    # data cleaning
    data= data.apply(lambda s: s.str.strip())
    data= data.apply(lambda s: s.str.replace('\n',''))
    # Confirming all numeric columns are numeric
    data['130lb'] = pd.to_numeric(data['130lb'],errors='coerce')
    data['155lb'] = pd.to_numeric(data['155lb'],errors='coerce')
    data['180lb'] = pd.to_numeric(data['180lb'],errors='coerce')
    data['205lb'] = pd.to_numeric(data['205lb'],errors='coerce')
    # creating a new column named 'Average_Calorie' with the average value of all numeric columns for each row
    data['activity_calorie'] = data[['130lb','155lb','180lb','205lb']].mean(axis=1)
    # Showing the created dataframe
    return data

### Importing 'Cylcling' data

In [3]:
cycling_data= data_import_clean(url="https://www.nutristrategy.com/caloriesburnedcycling.htm",p=13)

In [4]:
# Renaming first column
cycling_data.rename(columns = {'Activity(1hour)':'activity'}, inplace=True)
# Creating new columns populating with single value
cycling_data['activity_type'] = 'Cycling'
cycling_data['activity_type_id'] = '0'
cycling_data

,activity,130lb,155lb,180lb,205lb,activity_calorie,activity_type,activity_type_id
0,"Cycling, mountain bike, bmx",502,598,695,791,646.50,Cycling,0
1,"Cycling, <10 mph, leisure bicycling",236,281,327,372,304.00,Cycling,0
2,"Cycling, >20 mph, racing",944,1126,1308,1489,1216.75,Cycling,0
3,"Cycling, 10-11.9 mph, light",354,422,490,558,456.00,Cycling,0
4,"Cycling, 12-13.9 mph, moderate",472,563,654,745,608.50,Cycling,0
5,"Cycling, 14-15.9 mph, vigorous",590,704,817,931,760.50,Cycling,0
6,"Cycling, 16-19 mph, very fast, racing",708,844,981,1117,912.50,Cycling,0
7,Unicycling,295,352,409,465,380.25,Cycling,0
8,"Stationary cycling, very light",177,211,245,279,228.00,Cycling,0
9,"Stationary cycling, light",325,387,449,512,418.25,Cycling,0
10,"Stationary cycling, moderate",413,493,572,651,532.25,Cycling,0
11,"Stationary cycling, vigorous",620,739,858,977,798.50,Cycling,0
12,"Stationary cycling, very vigorous",738,880,1022,1163,950.75,Cycling,0

### Importing 'Swimming' data

In [5]:
swimming_data = data_import_clean(url="https://www.nutristrategy.com/caloriesburnedswimming.htm", p=13)

In [6]:
# Renaming first column
swimming_data.rename(columns = {'Activity,ExerciseorSport(1hour)':'activity'}, inplace=True)
# Creating new columns populating with single value
swimming_data['activity_type'] = 'Swimming'
swimming_data['activity_type_id'] = '1'
swimming_data

,activity,130lb,155lb,180lb,205lb,activity_calorie,activity_type,activity_type_id
0,"Swimming laps, freestyle, fast",590,704,817,931,760.50,Swimming,1
1,"Swimming laps, freestyle, slow",413,493,572,651,532.25,Swimming,1
2,Swimming backstroke,413,493,572,651,532.25,Swimming,1
3,Swimming breaststroke,590,704,817,931,760.50,Swimming,1
4,Swimming butterfly,649,774,899,1024,836.50,Swimming,1
5,"Swimming leisurely, not laps",354,422,490,558,456.00,Swimming,1
6,Swimming sidestroke,472,563,654,745,608.50,Swimming,1
7,Swimming synchronized,472,563,654,745,608.50,Swimming,1
8,"Swimming, treading water, fast...",590,704,817,931,760.50,Swimming,1
9,"Swimming, treading water, mode...",236,281,327,372,304.00,Swimming,1
10,"Water aerobics, water calisthe...",236,281,327,372,304.00,Swimming,1
11,Water polo,590,704,817,931,760.50,Swimming,1
12,Water volleyball,177,211,245,279,228.00,Swimming,1
13,Water jogging,472,563,654,745,608.50,Swimming,1
14,"Diving, springboard or platform",177,211,245,279,228.00,Swimming,1

### Importing 'dancing_excercise' data

In [7]:
dancing_excercise= data_import_clean(url="https://www.nutristrategy.com/caloriesburnedaerobics.htm",p =13)

In [8]:
dancing_excercise.columns

Index(['Activity(1hour)', '130lb', '155lb', '180lb', '205lb',
       'activity_calorie'],
      dtype='object')

In [9]:
# Renaming first column
dancing_excercise.rename(columns = {'Activity(1hour)':'activity'}, inplace=True)
# Creating new columns populating with single value
dancing_excercise['activity_type'] = 'Exercise or Dancing'
dancing_excercise['activity_type_id'] = '2'
dancing_excercise

,activity,130lb,155lb,180lb,205lb,activity_calorie,activity_type,activity_type_id
0,"Aerobics, low impact",295,352,409,465,380.25,Exercise or Dancing,2
1,"Aerobics, high impact",413,493,572,651,532.25,Exercise or Dancing,2
2,"Aerobics, step aerobics",502,598,695,791,646.50,Exercise or Dancing,2
3,"Aerobics, general",384,457,531,605,494.25,Exercise or Dancing,2
4,Jazzercise,354,422,490,558,456.00,Exercise or Dancing,2
5,"Stretching, hatha yoga",236,281,327,372,304.00,Exercise or Dancing,2
6,Mild stretching,148,176,204,233,190.25,Exercise or Dancing,2
7,Instructing aerobic class,354,422,490,558,456.00,Exercise or Dancing,2
8,Water aerobics,236,281,327,372,304.00,Exercise or Dancing,2
9,"Ballet, twist, jazz, tap",266,317,368,419,342.50,Exercise or Dancing,2
10,"Ballroom dancing, slow",177,211,245,279,228.00,Exercise or Dancing,2
11,"Ballroom dancing, fast",325,387,449,512,418.25,Exercise or Dancing,2
12,Teach aerobic classes (& partici...,384,457,531,605,494.25,Exercise or Dancing,2

### Importing 'Walking' data

In [10]:
walking_data= data_import_clean(url="https://www.nutristrategy.com/caloriesburnedwalking.htm",p=13, q=22, r=1, s=6)

In [11]:
# Renaming first column
walking_data.rename(columns = {'Activity(1hour)':'activity'}, inplace=True)
# Creating new columns populating with single value
walking_data['activity_type'] = 'Walking'
walking_data['activity_type_id'] = '3'
walking_data

,activity,130lb,155lb,180lb,205lb,activity_calorie,activity_type,activity_type_id
0,"Walking, under 2.0 mph, very slow",118,141,163,186,152.00,Walking,3
1,"Walking 2.0 mph, slow",148,176,204,233,190.25,Walking,3
2,Walking 2.5 mph,177,211,245,279,228.00,Walking,3
3,"Walking 3.0 mph, moderate",195,232,270,307,251.00,Walking,3
4,"Walking 3.5 mph, brisk pace",224,267,311,354,289.00,Walking,3
5,"Walking 3.5 mph, uphill",354,422,490,558,456.00,Walking,3
6,"Walking 4.0 mph, very brisk",295,352,409,465,380.25,Walking,3
7,Walking 4.5 mph,372,443,515,586,479.00,Walking,3
8,Walking 5.0 mph,472,563,654,745,608.50,Walking,3

### Importing 'Hiking & Climbing' data

In [12]:
hiking_data= data_import_clean(url="https://www.nutristrategy.com/caloriesburnedwalking.htm",p=23,q=100, r=7, s=13)
hiking_data.columns

Index(['Hiking,Climbing,Walking(1hour)', '130lb', '155lb', '180lb', '205lb',
       'activity_calorie'],
      dtype='object')

In [13]:
# Renaming first column
hiking_data.rename(columns = {'Hiking,Climbing,Walking(1hour)':'activity'}, inplace=True)
# Creating new columns populating with single value
hiking_data['activity_type'] = 'Hiking, climbing, others'
hiking_data['activity_type_id'] = '4'
hiking_data

,activity,130lb,155lb,180lb,205lb,activity_calorie,activity_type,activity_type_id
0,Orienteering,531,633,735,838,684.25,"Hiking, climbing, others",4
1,"Rock climbing, ascending rock",649,774,899,1024,836.50,"Hiking, climbing, others",4
2,"Rock climbing, rappelling",472,563,654,745,608.50,"Hiking, climbing, others",4
3,"Backpacking, Hiking with pack",413,493,572,651,532.25,"Hiking, climbing, others",4
4,"Carrying infant, level ground",207,246,286,326,266.25,"Hiking, climbing, others",4
5,"Carrying infant, upstairs",295,352,409,465,380.25,"Hiking, climbing, others",4
6,"Carrying 16 to 24 lbs, upstairs",354,422,490,558,456.00,"Hiking, climbing, others",4
7,"Carrying 25 to 49 lbs, upstairs",472,563,654,745,608.50,"Hiking, climbing, others",4
8,"Standing, playing with children,...",165,197,229,261,213.00,"Hiking, climbing, others",4
9,"Walk/run, playing with children,...",236,281,327,372,304.00,"Hiking, climbing, others",4
10,"Walk/run, playing with children,...",295,352,409,465,380.25,"Hiking, climbing, others",4
11,Carrying small children,177,211,245,279,228.00,"Hiking, climbing, others",4
12,"Loading, unloading car",177,211,245,279,228.00,"Hiking, climbing, others",4
13,"Climbing hills, carrying up to 9...",413,493,572,651,532.25,"Hiking, climbing, others",4
14,"Climbing hills, carrying 10 to 2...",443,528,613,698,570.50,"Hiking, climbing, others",4
15,"Climbing hills, carrying 21 to 4...",472,563,654,745,608.50,"Hiking, climbing, others",4
16,"Climbing hills, carrying over 42 lb",531,633,735,838,684.25,"Hiking, climbing, others",4
17,Walking downstairs,177,211,245,279,228.00,"Hiking, climbing, others",4
18,"Hiking, cross country",354,422,490,558,456.00,"Hiking, climbing, others",4
19,Bird watching,148,176,204,233,190.25,"Hiking, climbing, others",4
20,"Marching, rapidly, military",384,457,531,605,494.25,"Hiking, climbing, others",4
21,Pushing stroller or walking with...,148,176,204,233,190.25,"Hiking, climbing, others",4
22,Pushing a wheelchair,236,281,327,372,304.00,"Hiking, climbing, others",4
23,Race walking,384,457,531,605,494.25,"Hiking, climbing, others",4
24,"Rock climbing, mountain climbing",472,563,654,745,608.50,"Hiking, climbing, others",4
25,Walking using crutches,295,352,409,465,380.25,"Hiking, climbing, others",4
26,Walking the dog,177,211,245,279,228.00,"Hiking, climbing, others",4
27,"Walk / run, playing with animals",236,281,327,372,304.00,"Hiking, climbing, others",4
28,"Walking, pushing a wheelchair",236,281,327,372,304.00,"Hiking, climbing, others",4

## Concatenating all dataframes to a single one named 'activity_data'

In [15]:
activity_data = pd.concat([walking_data,swimming_data, cycling_data, dancing_excercise, hiking_data],ignore_index=True)

In [16]:
# creating a new column named 'activity_id' with table index value
activity_data['activity_id'] = activity_data.index
activity_data

,activity,130lb,155lb,180lb,205lb,activity_calorie,activity_type,activity_type_id,activity_id
0,"Walking, under 2.0 mph, very slow",118,141,163,186,152.00,Walking,3,0
1,"Walking 2.0 mph, slow",148,176,204,233,190.25,Walking,3,1
2,Walking 2.5 mph,177,211,245,279,228.00,Walking,3,2
3,"Walking 3.0 mph, moderate",195,232,270,307,251.00,Walking,3,3
4,"Walking 3.5 mph, brisk pace",224,267,311,354,289.00,Walking,3,4
...,...,...,...,...,...,...,...,...,...
74,"Rock climbing, mountain climbing",472,563,654,745,608.50,"Hiking, climbing, others",4,74
75,Walking using crutches,295,352,409,465,380.25,"Hiking, climbing, others",4,75
76,Walking the dog,177,211,245,279,228.00,"Hiking, climbing, others",4,76
77,"Walk / run, playing with animals",236,281,327,372,304.00,"Hiking, climbing, others",4,77
78,"Walking, pushing a wheelchair",236,281,327,372,304.00,"Hiking, climbing, others",4,78

## Creating activity table

In [17]:
# Selecting only required columns
activity = activity_data[['activity_id','activity', 'activity_calorie','activity_type_id']]

In [18]:
activity

,activity_id,activity,activity_calorie,activity_type_id
0,0,"Walking, under 2.0 mph, very slow",152.00,3
1,1,"Walking 2.0 mph, slow",190.25,3
2,2,Walking 2.5 mph,228.00,3
3,3,"Walking 3.0 mph, moderate",251.00,3
4,4,"Walking 3.5 mph, brisk pace",289.00,3
...,...,...,...,...
74,74,"Rock climbing, mountain climbing",608.50,4
75,75,Walking using crutches,380.25,4
76,76,Walking the dog,228.00,4
77,77,"Walk / run, playing with animals",304.00,4
78,78,"Walking, pushing a wheelchair",304.00,4

## Data Cleaning

In [19]:
activity['activity']= activity['activity'].replace(r'\s+', ' ', regex=True)

C:\Users\snk_n\AppData\Local\Temp/ipykernel_26180/2377529974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity['activity']= activity['activity'].replace(r'\s+', ' ', regex=True)

In [21]:
activity['activity']= activity['activity'].apply(lambda x: x.replace(',',''))
activity['activity']

C:\Users\snk_n\AppData\Local\Temp/ipykernel_26180/794309578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity['activity']= activity['activity'].apply(lambda x: x.replace(',',''))

0     Walking under 2.0 mph very slow
1                Walking 2.0 mph slow
2                     Walking 2.5 mph
3            Walking 3.0 mph moderate
4          Walking 3.5 mph brisk pace
                   ...
74    Rock climbing mountain climbing
75             Walking using crutches
76                    Walking the dog
77    Walk / run playing with animals
78       Walking pushing a wheelchair
Name: activity, Length: 79, dtype: object

In [22]:
#activity.to_csv("activity.csv",header=True,index=False)

## Creating activity_type table

In [23]:
activity_type = activity_data[['activity_type_id','activity_type']].drop_duplicates(ignore_index=True)
activity_type

  activity_type_id             activity_type
0                3                   Walking
1                1                  Swimming
2                0                   Cycling
3                2       Exercise or Dancing
4                4  Hiking, climbing, others

In [24]:
#activity_type.to_csv('activity_type.csv', index=False)

In [26]:
max(activity_data['average_calorie'])

KeyError: 'average_calorie'

In [ ]:
min(activity_data['average_calorie'])